*.log
*.cpython-36.pyc
*.csv
*.xlsx
*.json
*.pdf

Other/dv_test.py
biaxial_bending/test.log
biaxial_bending/__pycache__/geometry.cpython-36.pyc
biaxial_bending/__pycache__/section_calc.cpython-36.pyc
biaxial_bending/__pycache__/section_plot_uls.cpython-36.pyc
test.log
